body {
  background: url('../img/bkgrnd.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#redirectmsg, #errorMsg {
    color: white;
    text-align: center;
}
